{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}{{ Home }}{% endblock %}

{% block body_block %}


<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Events
                </h1>
                <p class="text-white link-nav"><a href="{% url 'Criminology_App:index' %}">Home </a> <span
                        class="lnr lnr-arrow-right"></span>
                    <a href="events.html"> Events</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->




<!-- Start events-list Area -->
<section class="events-list-area section-gap event-page-lists">
    <h3 class="text-center">New Events</h3>
    <div class="container">
        <div class="row align-items-center">

            {% for x in events_list %}
                <div class="col-lg-6 pb-30">

                    <div class="single-carusel row align-items-center">
                        <div class="col-12 col-md-6 thumb">
                            <img class="img-fluid" src="/media/{{ x.events_img }}" alt="">
                        </div>
                        <div class="detials col-12 col-md-6">
                            <p>{{ x.events_date|safe }}</p>
                            <a href="{% url 'Criminology_App:event_details' pk=x.id %}">
                                <h4>{{ x.events_title|safe }}</h4></a>
                            <p>
                                {{ x.events_details|safe }}
                            </p>
                        </div>
                    </div>

                </div>
            {% endfor %}



        </div>
    </div>
</section>
<!-- End events-list Area -->


<!-- Start cta-two Area -->
<section class="cta-two-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 cta-left">
                <h1>Not Yet Satisfied with our Trend?</h1>
            </div>
            <div class="col-lg-4 cta-right">
                <a class="primary-btn wh" href="#">view our blog</a>
            </div>
        </div>
    </div>
</section>
<!-- End cta-two Area -->

{% endblock %}